<section id="home">
  <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="1000" >

    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="assets/img/image1.jpg" alt="first" class="item">
        </div>
        <div class="carousel-item">
          <img src="assets/img/image3.jpg" alt="third" class="item">
        </div>
        <div class="carousel-item">
          <img src="assets/img/image4.jpg" alt="fourth" class="item">
        </div>
        <div class="carousel-item">
          <img src="assets/img/image5.jpg" alt="fifth" class="item">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  <div class="container p-5">
    <app-message></app-message>
    <p class="lead">
      <b>Recommended Deals: Last-Minute Deals</b>
    </p>
    <div class="row">
      <div *ngIf="!products" class="m-auto">
        <h1 class="text-center display-3 mt-5">
          <i class="fa fa-spinner fa-spin"></i>
        </h1>
      </div>
      <div *ngFor="let product of products" class="col-md-3 mb-5">
        <a routerLink="/product/{{ product._id }}">
          <div class="card bg-light">
            <img src="{{ product.image }}" alt="product" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">{{ product.title }}</h5>
              <p class="card-text">{{ product.price | currency }}</p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>




